# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# ============================================================
# Virtual Environment
# ============================================================

.venv/
venv/
env/
ENV/

# ============================================================
# Jupyter Notebook
# ============================================================

.ipynb_checkpoints/

# ============================================================
# VS Code
# ============================================================

.vscode/

# ============================================================
# Operating System
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# Python / Tool Caches
# ============================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ============================================================
# Temporary Files
# ============================================================

*.tmp
*.temp
*.log

# ==========================================
# Large datasets
# ==========================================

data/*.csv

# ==========================================
# Trained models
# ==========================================

models/*.pkl